<div class="sidebar ">
    <div class="logo-details">
      <img src="assets/images/user-1.jpg">
      <span class="logo_name">Denoise</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#" routerLink="/">
          <i class="bi bi-cloud-lightning"></i>
          <span class="link_name">Noise</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Noise</a></li>
        </ul>
      </li>
      <li>
        <a href="#" routerLink="/">
          <i class="bi bi-sliders"></i>
          <span class="link_name">Wiener</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Wiener</a></li>
        </ul>
      </li>
      <li>
        <a href="#" routerLink="/">
          <i class="bi bi-graph-up"></i>
          <span class="link_name">Gaussian</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Gaussian</a></li>
        </ul>
      </li>
       
      
</ul>
</div>